<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginDemo1</servlet-name>
        <servlet-class>LoginDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisDemo</servlet-name>
        <servlet-class>RegisDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsDemo</servlet-name>
        <servlet-class>InsDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAll</servlet-name>
        <servlet-class>ShowAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDemo</servlet-name>
        <servlet-class>SearchDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDemo</servlet-name>
        <servlet-class>UpdateDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDemo1</servlet-name>
        <servlet-class>UpdateDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDemo2</servlet-name>
        <servlet-class>UpdateDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDemo</servlet-name>
        <servlet-class>DeleteDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyMenuDemo</servlet-name>
        <servlet-class>MyMenuDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutDemo</servlet-name>
        <servlet-class>LogoutDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginDemo1</servlet-name>
        <url-pattern>/LoginDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisDemo</servlet-name>
        <url-pattern>/RegisDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsDemo</servlet-name>
        <url-pattern>/InsDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAll</servlet-name>
        <url-pattern>/ShowAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDemo</servlet-name>
        <url-pattern>/SearchDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDemo</servlet-name>
        <url-pattern>/UpdateDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDemo1</servlet-name>
        <url-pattern>/UpdateDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDemo2</servlet-name>
        <url-pattern>/UpdateDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDemo</servlet-name>
        <url-pattern>/DeleteDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyMenuDemo</servlet-name>
        <url-pattern>/MyMenuDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutDemo</servlet-name>
        <url-pattern>/LogoutDemo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
